<ion-header [translucent]="true">
  <ion-toolbar style="--background: #11b82d; color: black;">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-icon name="nutrition"></ion-icon>
      GRANJA "EL HUERTO"
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" style="text-align:center;">
        Contacto
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-title style="text-align: center;">Agenda una cita con nosotros</ion-card-title>
    <ion-card-content style="text-align: center;">
      No dudes en agendar una cita con nosotros
      no te arrepentiras de venir a conocer "El Huerto"
      presiona el boton de abajo para agendar tu cita
      Estoy para Servirte
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button style="color:#11b82d;" (click)="NewForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>