<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contacto"></ion-back-button>
    </ion-buttons>
    <ion-title>Agenda la cita</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-label>Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" type="text" required="true" #title></ion-input>

          <ion-label>Telefono</ion-label>
          <ion-input [(ngModel)]="telefono" type="number" required="true" ></ion-input>

          <!--<ion-label>Huerto mas cercano</ion-label>
          <ion-input [(ngModel)]="huerto" type="text" required="true" ></ion-input>-->
          <ion-label>Huerto mas cercano</ion-label>
          <ion-select [(ngModel)]="huerto" required="true">
            <ion-select-option>Huerto 1</ion-select-option>
            <ion-select-option>Huerto 2</ion-select-option>
          </ion-select>
          <ion-label>Fecha y Hora</ion-label>
          <ion-input [(ngModel)]="horario" type="text" required="true" ></ion-input>

          <ion-label>Comentarios</ion-label>
          <ion-input [(ngModel)]="comentario" type="text" required="true" ></ion-input>
          
          <ion-button color="primary" (click)="SendForm()">Enviar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
