<ion-header [translucent]="true">
  <ion-toolbar style="--background: #11b82d; color: black;">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-icon name="nutrition"></ion-icon>
      GRANJA "EL HUERTO"
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" style="text-align:center;">
        Acerca De
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <div>
    <ion-text>Visítanos</ion-text>
  </div>
  <br>

  <br>
  <div>
    <ion-title style="text-align:center;">Seleccione un Huerto<br></ion-title>
    <ion-segment [(ngModel)]="sembradio">
      <ion-segment-button *ngFor="let huerto of huertos" [value]="huerto" (click)="loadMap()">
        <ion-label>{{ huerto.nombre }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="ion-margin" id="map"></div>

  <div class="ion-margin">
    <ion-button [routerLink]="['/contacto']" style="display:block; margin:auto; margin-top:10px;">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      Agenda una cita
    </ion-button>
  </div>
</ion-content>