<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
        Acerca De
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" style="text-align:center;">
        <ion-icon name="nutrition"></ion-icon>
        GRANJA "EL HUERTO"
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <div>
    <ion-text>Visítanos</ion-text>
  </div>
  <br>

  <ion-label>Seleccione un Huerto</ion-label>
  <ion-select [(ngModel)]="sembradio">
    <ion-select-option *ngFor="let huerto of huertos" [value]="huerto">{{ huerto.nombre }}</ion-select-option>
  </ion-select>
  <ion-button (click)="loadMap()" *ngIf="sembradio">
    Mostrar Huerto
  </ion-button>
  
  <!--<div *ngIf="sembradio">
    <ion-card><ion-text color= "success"><h4>{{ sembradio.nombre }}</h4></ion-text></ion-card>
  </div>-->
  <div class="ion-margin" id="map"></div>

  <div class="ion-margin">
    <ion-button  [routerLink]="['/contacto']" style="display:block; margin:auto; margin-top:10px;">
      <ion-icon name="calendar-outline" slot = "start"></ion-icon>
      Agenda una cita
    </ion-button>
  </div>
</ion-content>
