<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>

      <ion-title>
          Acerca De
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-header>
      <ion-toolbar>
        <ion-title size="large" style="text-align:center;">
          <ion-icon name="nutrition"></ion-icon>
          GRANJA "EL HUERTO"
        </ion-title>
      </ion-toolbar>
  </ion-header>

  <br>
  <div class="ion-text-center">
    <ion-text>Visitanos</ion-text>
  </div>
  <br>

  <div class="ion-text-justify" class="ion-margin">
    
    <ion-text color= "dark"><h4>¿Dónde estamos ubicados?</h4></ion-text>
    <ion-text color= "dark"><h4>Tenemos las siguientes ubicaciones.</h4></ion-text>
    <ion-button  [routerLink]="['/contacto']" style="display:block; margin:auto; margin-top:10px;">
      <ion-icon name="calendar-outline" slot = "start"></ion-icon>
      Agenda una cita
    </ion-button> 
  </div>
  <br>

  <div class="ion-text-center">
    <ion-card><ion-text color= "success"><h4>Huerto #1</h4></ion-text></ion-card>
    </div>
  <div class="ion-margin" align="center" id="map" ></div>
  <br><br>
  <div class="ion-text-center">
    <ion-card><ion-text color= "success"><h4>Huerto #2</h4></ion-text></ion-card>
    </div>
  <div class="ion-margin" id="mapa" ></div>

<!--La wea de abajo es para mostrar indicaciones, pensaba ponerlo en un boton para que dependiendo de la 
  esa wea que quieran visitar, pues se les muestren las indicaciones correspondientes.. Pero me dio flojera-->
  <!--<div id="indicaciones"></div>-->
</ion-content>
