#map{
    width: 90%;
    height: 50%;
    display: block;
  }

  #mapa{
    width: 90%;
    height: 50%;
    display: block;
  }

  #indicators {
    padding: 16px;
    height: 40%;
    width: 100%;
    overflow-y: auto;
    display: block;
  }