#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  width: 90%;
  margin: auto;
}

#greenCard {
  width: 85%;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #bde6aa;
}

ion-img {
  width:90%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

ion-button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

ion-card-title {
  font-weight: bold;
  text-align: center;
}

.swiper-pagination {
  bottom: 10px !important;    
}