<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>

      <ion-title>
          Inicio
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
      <ion-toolbar>
          <ion-title size="large" style="text-align:center;">
              <ion-icon name="nutrition"></ion-icon>
              GRANJA "EL HUERTO"
          </ion-title>
      </ion-toolbar>
  </ion-header>

  <!--Productos-->
  <ion-card>
        <ion-card-title style="text-align:center;">
            Conoce nuestros productos
        </ion-card-title>

        <ion-card-content>
            <ion-slides>
                <ion-slide *ngFor="let producto of productos">
                    <ion-card>
                        <ion-title>{{producto.nombre}}</ion-title>
                        <ion-card-header>
                            {{producto.descripcion}}
                        </ion-card-header>
                        <ion-card-content>
                            <ion-img [src]="producto.imagen" style="display:block; margin:auto; margin-top:10px;"></ion-img>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>
            <ion-button  [routerLink]="['/productos']" style="display:block; margin:auto; margin-top:10px;">
                <ion-icon name="pricetags-outline" slot = "start"></ion-icon>
                Busca más productos
            </ion-button> 
        </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-title style="text-align:center;">
          ¿Quieres visitarnos?
      </ion-card-title>

      <ion-card-content>
        <ion-button  [routerLink]="['/acerca-de']" style="display:block; margin:auto; margin-top:10px;">
            <ion-icon name="map-outline" slot = "start"></ion-icon>
            Conoce nuestra ubicacion
        </ion-button> 
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title style="text-align:center;">
        ¿Quieres contactarnos?
    </ion-card-title>
    
    <ion-card-content>
        <ion-button  [routerLink]="['/contacto']" style="display:block; margin:auto; margin-top:10px;">
            <ion-icon name="calendar-outline" slot = "start"></ion-icon>
            Agenda una cita
        </ion-button> 
    </ion-card-content>
</ion-card>
</ion-content>
